* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #0d2c54;
  display: flex;
  flex-direction: column;
  font-family: "Asap", sans-serif;
  font-weight: bolder;
  height: 100vh;
}

header {
  align-items: center;
  border-bottom: 7px solid #ffe099;
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 25px;
}

.principal {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.principal img {
  height: 100%;
}

#title {
  font-family: "Flamenco", cursive;
  font-size: 200%;
  margin-left: 10px;
}

header h3 {
  font-size: 100%;
  font-style: italic;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#info {
  align-items: center;
  background-color: #70d4ff;
  display: flex;
  flex-direction: column;
  font-size: 125%;
  width: 40%;
  height: 100%;
  justify-content: center;
  padding: 0px 20px;
  text-align: center;
}

#info img {
  height: 55%;
  width: 90%;
}

#check-verify {
  height: 100%;
  width: 100%;
}

.check {
  align-items: center;
  background-color: #e5ffad;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.check h3 {
  font-family: "Flamenco", cursive;
  font-size: 40px;
}

.input-container {
  height: 75px;
  width: 50%;
  margin: 60px 0px;
  overflow: hidden;
  position: relative;
}

.input-container input {
  background-color: transparent;
  border: none;
  bottom: 0;
  color: #0d2c54;
  font-family: "Asap", sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  outline: none;
  padding-top: 20px;
}

.input-container label {
  border-bottom: 1px solid black;
  bottom: 0;
  font-size: 85%;
  height: 100%;
  width: 100%;
  left: 0%;
  position: absolute;
  pointer-events: none;
}

.input-container label::after {
  border-bottom: 3px solid #5fa8d3;
  bottom: -1px;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.text-label {
  bottom: 5px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
}

.input-container input:focus+.label-credit .text-label,
.input-container input:valid+.label-credit .text-label,
.input-container input:hover+.label-credit .text-label {
  color: #5fa8d3;
  transform: translateY(-150%);
}

.input-container input:focus+.label-credit::after,
.input-container input:valid+.label-credit::after,
.input-container input:hover+.label-credit::after {
  transform: translateX(0%);
}

.button-indication {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  background-color: #99e00044;
  color: #0d2c54;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 25px 30px;
  position: relative;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #5fa8d3;
  background-color: #628f0044;
  transition-delay: 1s;
}

a span {
  display: block;
  position: absolute;
}

a span:nth-child(1) {
  background: linear-gradient(90deg, #0d2c54, #99e000);
  height: 3px;
  width: 100%;
  left: -100%;
  top: 0;
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(2) {
  background: linear-gradient(180deg, #0d2c54, #99e000);
  height: 100%;
  width: 3px;
  right: 0;
  top: -100%;
}

a:hover span:nth-child(2) {
  transition: 1s;
  transition-delay: 0.25s;
  top: 100%;
}

a span:nth-child(3) {
  background: linear-gradient(90deg, #0d2c54, #99e000);
  bottom: 0;
  height: 3px;
  width: 100%;
  right: -100%;
}

a:hover span:nth-child(3) {
  transition: 1s;
  transition-delay: 0.5s;
  right: 100%;
}

a span:nth-child(4) {
  background: linear-gradient(360deg, #0d2c54, #99e000);
  bottom: -100%;
  height: 100%;
  width: 3px;
  left: 0;
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

#error-message {
  color: #e94b4b;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
}

.verify {
  align-items: center;
  background-color:#C69DD2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.verify-image {
  height: 150px;
  width: 150px;
}
#verify-message{
  margin: 25px;
  margin-bottom: 105px;
  font-size: 45px;
}
.return-button {
  background-color: rgb(248, 190, 219);
  border: none;
  box-shadow: 2px 2px 5px rgb(235, 148, 196);
  color: rgb(121, 30, 72);
  cursor: pointer;
  font-size: 30px;
  height: 55px;
  width: 150px;
}

.hide {
  display: none;
}